.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7fa;
}

aside {
  width: 250px; // Sidebar abierto
  background-color: white;
  transition: width 0.3s ease;

  &.collapsed {
    width: 80px; // Sidebar cerrado
  }
}

.content-area {
  flex: 1; // Muy importante: ocupa todo el espacio disponible
  padding: 2rem;
  transition: margin 0.3s ease;
}
