.citas-page {
  padding: 24px;

  .citas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 1.8rem;
      color: #003366;
    }

    .btn {
      background-color: #003366;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

  }
}
